body{
	background-image: url('Gedung_biru_UPI_Cibiru.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: white;
	font-family: helvetica;
}
legend{
	font-family: forte;
}
.NIM{
    background-color: rgb(112,128,144);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
}
        
.Fakultas{
    background-color: rgb(112,128,144);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
}
        
.Jenis_Kelamin{
    background-color: rgb(112,128,144);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
        }
        
.agama {
    background-color: rgb(112,128,144);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
}
        
.hobi {
    background-color: rgb(112,128,144);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
}
        
.alamat {
    background-color: rgb(112,128,144);
    width: 800px;
    margin: 20px auto;
    padding: 15px;
        }
        
.button {
    width: 800px;
    margin: 20px auto;
        }
        
        button,
        input[type=submit],
        input[type=reset] {
            font-family: helvetica;
            font-size: 15px;
            background: red;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 12px 20px;
            margin-top: 10px;
        }